---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Import partials from `sass_dir` (defaults to `_sass`)

@import "normalize", "settings";

$include-html-global-classes: true;

@import "foundation";

// Background color for the top bar
$topbar-bg-color: $oil;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: rem-calc(42);
$topbar-margin-bottom: 0;
$topbar-padding-side: rem-calc(14);

// Controlling the styles for the title in the top bar
$topbar-title-weight: $font-weight-normal;
$topbar-title-font-size: rem-calc(24);

$topbar-link-line-height: rem-calc(30);
$topbar-link-font-size: rem-calc(18);
$topbar-link-weight-size: $font-weight-normal;
$topbar-link-padding-side: rem-calc(12);

$topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
$topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";

@mixin rotate($rotation) {
	-webkit-transform: rotate($rotation);
	-moz-transform: rotate($rotation);
	-ms-transform: rotate($rotation);
    transform: rotate($rotation);
}

.top-bar {
	background: $topbar-bg;
	margin-bottom: $topbar-margin-bottom;
	overflow: hidden;
	position: relative;

	padding-top: rem-calc(3);
	padding-left: $topbar-padding-side;
	padding-right: $topbar-padding-side;

	.title {
		line-height: $topbar-height;
		margin: 0;
		position: relative;
		font-size: $topbar-title-font-size;
	}

	.top-nav {
		font-size: $topbar-link-font-size;
		padding-left: $topbar-padding-side;
	}

	.link {
		padding-left: $topbar-link-padding-side;
		padding-right: $topbar-link-padding-side;
	}

	.top-nav {
		-webkit-transform: translateZ(0);
		-webkit-transition: height .5s;
	}

	// mobile
	@media screen and (max-width:#{lower-bound($topbar-breakpoint)}) {
		.nav-toggle {
			-webkit-transition: transform .5s;
			-webkit-transform-style: preserve-3d;
			margin-top: rem-calc(8);
		}

		#nav-toggle:checked ~ .top-nav {
			height: 0px;
		}

		#nav-toggle:not(:checked) ~ .top-nav {
			// TODO: figure out how to not hardcode this value
			height: rem-calc(72);
		}

		#nav-toggle:not(:checked) ~ .title .nav-toggle {
			@include rotate(180deg);
		}

		.link {
			display: block;
		}
	}

	// bigger than mobile
	@media screen and (min-width:#{lower-bound($topbar-breakpoint)}) {
		@include clearfix;

		.nav-toggle {
			display: none;
		}

		.title {
			float: left !important;
		}

		.top-nav {
			float: right !important;
		}
	}
}

.link {
	text-decoration: none;
	color: #DDD;
	&:hover {
		color: white;
	}

	&:active {
	}	
}

.arrow {

	position: relative;
	display:block;
	width: rem-calc(24);
	height: rem-calc(24);
	font-size: 2.5rem;
	overflow: hidden;

	span {
	@include rotate(90deg);
		position: absolute;
		top: rem-calc(-9);
		left: rem-calc(5);
	}
}
