---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Import partials from `sass_dir` (defaults to `_sass`)

@import "normalize", "settings";

$include-html-global-classes: true;


@import "foundation";



// Background color for the top bar
$topbar-bg-color: $oil;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: rem-calc(45);
$topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
$topbar-title-weight: $font-weight-normal;
$topbar-title-font-size: rem-calc(17);

$topbar-breakpoint: #{lower-bound($medium-range)}; // Change to 9999px for always mobile layout
$topbar-media-query: "#{$screen} and (min-width:#{lower-bound($topbar-breakpoint)})";

.top-bar {
	background: $topbar-bg;
	margin-bottom: $topbar-margin-bottom;
	overflow: hidden;
	position: relative;

	@media screen and (min-width:#{lower-bound($topbar-breakpoint)}) {
		height: $topbar-height;
		line-height: $topbar-height;

	    .top-nav {
			ul, li { display: inline;}
		}	
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

}
.top-bar .title {
	margin: 0;
	position: relative;
	font-size: $topbar-title-font-size;
}

.top-bar .name {	
}

.top-bar--link {
	color: white;
	font-size: rem-calc(13);
	font-weight: normal;

	&:hover {
		background-folor: $charcoal;
	}

	&:active {
	}	
}

