<header class="top-bar">
	<input id="nav-toggle" class="hide" type="checkbox" checked />
	<section class="title clearfix">
		<a class="link left" href="#">{{ site.title }}</a>
		<label class="nav-toggle right arrow link" for="nav-toggle"><span>»</span></label>
	</section>
	<nav class="top-nav">
		{% assign pages = site.pages | sort:"order" %}
		{% for page in pages %}
		{% if page.title %}
		<a class="link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
		{% endif %}
		{% endfor %}
	</nav>
</header>
